# Python cache files
__pycache__/
*.py[cod]

# Virtual environment directory
myenv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Pytest cache
.pytest_cache/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
